
/* POPPINS FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #6657f4;
  --second-color: #ffffff;
  --black-color: #000000;
}

body {
  background: #9a90f5;
}

a {
  text-decoration: none;
  color: var(--second-color);
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.signup-box {
  position: relative;
  width: 450px;
  border: 3px solid var(--primary-color);
  border-radius: 15px;
  padding: 7.5em 2.5em 4em 2.5em;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.signup-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  width: 140px;
  height: 70px;
  border-radius: 0 0 20px 20px;
}

.signup-header span {
  font-size: 30px;
  color: var(--black-color);
}

.signup-header::before,
.signup-header::after {
  content: "";
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  background: transparent;
}

.signup-header::before {
  left: -30px;
  border-top-right-radius: 50%;
  box-shadow: 15px 0 0 0 var(--primary-color);
}

.signup-header::after {
  right: -30px;
  border-top-left-radius: 50%;
  box-shadow: -15px 0 0 0 var(--primary-color);
}

.input_box {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.input-field {
  width: 100%;
  height: 55px;
  font-size: 16px;
  background: transparent;
  color: #000000;
  padding-inline: 20px 50px;
  border: 2px solid var(--primary-color);
  border-radius: 30px;
  outline: none;
}

#user {
  margin-bottom: 10px;
}

.label {
  position: absolute;
  top: 15px;
  left: 20px;
  transition: 0.2s ease-in-out;
}

.input-field:focus ~ .label,
.input-field:valid ~ .label {
  top: -10px;
  font-size: 14px;
  background-color: var(--primary-color);
  border-radius: 30px;
  color: black;
  padding: 0 10px;
}

.icon {
  position: absolute;
  top: 18px;
  right: 25px;
  font-size: 20px;
  cursor: pointer;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.input-submit {
  width: 100%;
  height: 50px;
  background: #6657f4;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.input-submit:hover {
  background: #1d0db2;
}

.register {
  text-align: center;
}

.register a {
  font-weight: 500;
}

a {
  color: #6657f4;
}

@media only screen and (max-width: 564px) {
  .wrapper {
    padding: 20px;
  }

  .signup-box {
    padding: 7.5em 1.5em 4em 2.5em;
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    padding: 50px;
  }

  .signup-box {
    width: 80%;
    padding: 5em 1.5em 3em 1.5em;
  }

  .modal-content {
    width: 70%;
  }
}

@media only screen and (max-width: 564px) {
  .wrapper {
    padding: 15px;
  }

  .signup-box {
    padding: 7.5em 1.5em 4em 2.5em;
  }

  .modal-content {
    width: 90%;
  }

  .remember-forgot {
    font-size: 11px;
    margin: 0 10px;
  }

  input[type="checkbox"] {
    width: 11px;
    height: 11px;
  }
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
